body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: antiquewhite;    
}

img {
    max-width: 500px;
    padding-bottom: 25px;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    padding-bottom: 25px;
    max-width: 500px;
}